body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/background.jpg);
  background-size: contain;
  image-rendering: pixelated;
  color: white;
  font-family: "Press Start 2P", serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

#intro {
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 3px 3px 0px black, -2px -2px 0px black;
}

.button button{
  font-family: "Press Start 2P", sans-serif;
  background-color: #5964ff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 20px 24px;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
}
.button button:hover {
  background-color: #5964ff98;
}
